<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.crs.CrsAccountPeriodMapper">
    
    <resultMap id="BaseResultMap" type="com.oyo.accouting.pojo.AccountPeriod" >
        <result column="oyo_id" property="oyoId" />
        <result column="unique_code" property="uniqueCode" />
        <result column="hotel_name" property="hotelName" />
        <result column="period" property="accountPeriod" />
        <result column="order_no" property="orderNo" />
        <result column="guest_name" property="guestName" />
        <result column="source" property="orderChannelCode" />
        <result column="checkin" property="checkInDate" />
        <result column="checkout" property="checkOutDate" />
        <result column="status" property="statusCode" />
        <result column="oyo_rooms" property="roomsNumber" />
        <result column="amount" property="orderTotalAmount" />
        <result column="payments" property="paymentMethod" />
        <result column="payment_type" property="paymentType" />
        <result column="ota_id" property="otaId" />
        <result column="ota_name" property="otaName" />
        <result column="city" property="city" />
        <result column="region" property="region" />
        <result column="hotel_id" property="hotelId" />
        <result column="period_start_date" property="startDateOfAccountPeriod" />
        <result column="period_end_date" property="endDateOfAccountPeriod" />
        <result column="check_in_days" property="checkInDays" />
        <result column="booking_guest_name" property="bookingGuestName" /><!-- 预定人名称 -->
        <result column="booking_secondary_guest_name" property="bookingSecondaryGuestName" /><!-- /预定人名称2 -->
    </resultMap>
    
    <resultMap id="BaseResultMapCrsEnum" type="com.oyo.accouting.bean.CrsEnumsDto" >
        <result column="id" property="id" />
        <result column="table_name" property="tableName" />
        <result column="column_name" property="columnName" />
        <result column="enum_key" property="enumKey" />
        <result column="enum_val" property="enumVal" />
    </resultMap>
	
	<!-- 条件查询CRS中账期信息 -->
    <select id="queryAccountPeriodByCondition"  resultMap="BaseResultMap" parameterType="com.oyo.accouting.bean.QueryAccountPeriodDto">
        SELECT 
	    h.unique_code,
		h.oyo_id,
		#{accountPeriod} period,
		h.name hotel_name,
		A.invoice_no order_no,
		(select CONCAT(B.last_name,B.first_name) from user_profiles b where A.guest_id = B.id) guest_name,
		(select g.guest_alias from booking_guests g where g.booking_id = A.id) booking_guest_name,
		(select g.secondary_number from booking_guests g where g.booking_id = A.id) booking_secondary_guest_name,
		A.source,
		A.checkin,
		A.checkout,
		A.status,
		A.oyo_rooms,
		case when A.key_source = 9 then A.selling_amount
	    else A.amount 
		end amount,	
		A.payments,
		A.payment_type,
		A.ota_booking_id ota_id,
		(select f.name from online_travel_agents f where f.id = A.ota_id and A.ota_id is not null) ota_name,	
		h.city,
		(select e.name from hubs d,zones e where d.zone_id = e.id and h.city = d.name) region,
		h.id hotel_id
	FROM
		bookings A,
		hotels h 
	WHERE
		(
		( A.checkin <![CDATA[>=]]>  to_date(#{accountPeriodStart},'YYYY-MM-DD') AND A.checkout <![CDATA[<=]]>  to_date(#{nextAccountPeriodStart},'YYYY-MM-DD')) 
		OR ( A.checkin  <![CDATA[<=]]>  to_date(#{accountPeriodStart},'YYYY-MM-DD') AND A.checkout <![CDATA[>=]]> to_date(#{accountPeriodSecondStart},'YYYY-MM-DD') AND A.checkout <![CDATA[<=]]> to_date(#{nextAccountPeriodStart},'YYYY-MM-DD') ) 
		OR ( A.checkin  <![CDATA[<=]]>  to_date(#{accountPeriodEnd},'YYYY-MM-DD') AND A.checkin <![CDATA[>=]]>  to_date(#{accountPeriodSecondStart},'YYYY-MM-DD') AND A.checkout <![CDATA[>=]]>  to_date(#{nextAccountPeriodStart},'YYYY-MM-DD') ) 
		OR ( A.checkin  <![CDATA[<=]]>  to_date(#{accountPeriodStart},'YYYY-MM-DD') AND A.checkout <![CDATA[>=]]> to_date(#{nextAccountPeriodStart},'YYYY-MM-DD') )) 
		AND A.status IN (1, 2) 
		AND A.hotel_id = h.ID 
		AND h.country_id = 50<!-- 中国 -->
	</select>
	
	<!-- 查询所有的bookings的枚举 -->
	<select id="queryCrsEnumByTableName"  resultMap="BaseResultMapCrsEnum" parameterType="java.lang.String">
	    select id, table_name, column_name, enum_key, enum_val
	    from crs_enums
	    <where>
	        <if test="tableName != null and tableName != ''">
	            and table_name = #{tableName}
	        </if>
	    </where>
	</select>
	
</mapper>