<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.crs.CrsAccountMapper">
<!-- 	<resultMap type="" id=""> -->

	
<!-- 	</resultMap> -->
	
	<select id="calHotelAmount"  resultType="hashmap">
		SELECT
			A.HOTEL_ID,
			SUM (A.OWNER_AMOUNT),
			(SELECT h.name FROM hotels h where h.id = A.HOTEL_ID) hotel_name
		FROM
			BOOKINGS A
		WHERE
			A .CHECKIN <![CDATA[>=]]> date_trunc('month', now() :: DATE)
		AND A .CHECKIN <![CDATA[<=]]> date_trunc('month', now() :: DATE) + INTERVAL '1 month' - INTERVAL '1 day'
		AND A .STATUS = 1
		GROUP BY
			A .HOTEL_ID
		ORDER BY
			A .HOTEL_ID
	</select>
	
	<!-- 获取hotel对应的Owner Share -->
	<select id="getHotelOwnerShare" resultType="hashmap">
		select x.hotel_id,y.rs_slabs
		from hotel_agreement_details x, agreements y,bookings z
		where x.agreement_id = y.id
		and x.hotel_id = z.hotel_id
		and z.checkin <![CDATA[>=]]> x.valid_from 
		and z.checkin <![CDATA[<=]]> x.valid_till
		and z.checkin <![CDATA[>=]]> date_trunc('month', now() :: DATE)
		and z.checkin <![CDATA[<]]> date_trunc('month', now() :: DATE) + INTERVAL '1 month'					
	</select>	
	
	<!-- 根据hotelId获取hotel名称 -->
	<select id="getHotelNameById" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT name FROM hotels where id = #{hotelId}
    </select>
	
</mapper>