<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.crs.CrsAccountDetailsMapper">

    <select id="queryAccountDetailsByItemId" resultType="com.oyo.accouting.bean.AccountDetailsDto" parameterType="java.lang.Long">

        SELECT ad.id,ad.hotel_id as hotelId,ad.name,ad.bank_name as bankName,ad.bank_address as bankAddress,ad.bank_account_no as bankAccountNo,ad.account_type as accountType,
         ad.bank_ifsc_code as bankIfscCode,ad.bank_micr_code as bankMicrCode,ad.created_at as createdAt,ad.updated_at as updatedAt,ad.item_id as itemId ,
         ad.item_type as itemType,ad.service_tax_no as serviceTaxNo,ad.pan_no as panNo,ad.vat_no as vatNo,ad.cst_no as cstNo,ad.credit_limit as creditLimit,ad.credit_usage_period as creditUsagePeriod,
         ad.last_billed_date as lastBilledDate,ad.settlement_period as settlementPeriod,ad.discount as discount,ad.discount_type as discountType,ad.btc_allowed as btcAllowed,ad.status,
         ad.skip_prepaid as skipPrepaid,ad.wallet_id as walletId,ad.ach_status as achStatus,ad.share_pc as sharePc,ad.coupon_allowed as couponAllowed,ad.billing_cycle as billingCycle,
         ad.payment_cycle as paymentCycle,ad.metadata,ad.fixed_pricing as fixedPricing,ad.generate_invoice as generateInvoice,ad.commission_payout_trigger as commissionPayoutTrigger,ad.aadhar_no as aadharNo
         FROM account_details ad WHERE item_id = #{itemId} AND item_type = 'Hotel' LIMIT 1

    </select>

</mapper>