<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.crs.CrsHotelMapper">

    <resultMap id="BaseResultMap" type="com.oyo.accouting.bean.HotelDto" >

        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="alternate_name" property="alternateName"/>
        <result column="oyo_id" property="oyoId"/>
        <result column="location_description" property="locationDescription"/>
        <result column="keywords" property="keywords"/>
        <result column="priority" property="priority"/>
        <result column="clientele" property="clientele"/>
        <result column="map_link" property="mapLink"/>
        <result column="rating" property="rating"/>
        <result column="website" property="website"/>
        <result column="meta_description" property="metaDescription"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="landmark" property="landmark"/>
        <result column="directions" property="directions"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="status" property="status"/>
        <result column="category" property="category"/>
        <result column="cluster_id" property="clusterId"/>
        <result column="plot_number" property="plotNumber"/>
        <result column="street" property="street"/>
        <result column="city" property="city"/>
        <result column="state" property="state"/>
        <result column="country" property="country"/>
        <result column="pincode" property="pincode"/>
        <result column="longitude" property="longitude"/>
        <result column="new_oyo" property="newOyo"/>
        <result column="featured" property="featured"/>
        <result column="transformed_by_id" property="operationManagerId"/>
        <result column="hostess_manager_id" property="hostessManagerId"/>
        <result column="training_manager_id" property="trainingManagerId"/>
        <result column="board_type" property="boardType"/>
        <result column="hoarding" property="hoarding" />
        <result column="over_sellable_rooms" property="overSellableRooms" />
        <result column="landline" property="landline" />
        <result column="manager_name" property="managerName" />
        <result column="lead_type" property="leadType" />
        <result column="activation_date" property="activationDate" />
        <result column="oyo_email" property="oyoEmail" />
        <result column="tablet_status" property="tabletStatus" />
        <result column="created_by" property="createdBy" />
        <result column="only_prepaid" property="onlyPrepaid" />
        <result column="bd_manager_id" property="bdManagerId"/>
        <result column="discount" property="discount"/>
        <result column="mini_cluster_id" property="miniClusterId"/>
        <result column="short_description" property="shortDescription"/>
        <result column="ota_listed" property="otaListed"/>
        <result column="country_id" property="countryId"/>
        <result column="city_id" property="cityId"/>
        <result column="currency_id" property="currencyId"/>
        <result column="holiday_iq_url" property="holidayIqUrl"/>
        <result column="checkin_time" property="checkinTime"/>
        <result column="checkout_time" property="checkoutTime"/>
        <result column="status_track" property="statusTrack"/>
        <result column="total_rooms" property="totalRooms" />
        <result column="hotel_type" property="hotelType" />
        <result column="billing_entity" property="billingEntity" />
        <result column="hotel_logo" property="hotelLogo" />
        <result column="nearby_json" property="nearbyJson" />
        <result column="training_date" property="trainingDate" />
        <result column="calling_active_time" property="callingActiveTime" />
        <result column="desired_pricing_split" property="desiredPricingSplit" />
        <result column="migrated_from_hotel_id" property="migratedFromHotelId"/>
        <result column="flagship_transition_category" property="flagshipTransitionCategory"/>
        <result column="prev_oyo_id" property="prevOyoId"/>
        <result column="wifi_device_type" property="wifiDeviceType"/>
        <result column="is_only_mm_sellable" property="isOnlyMmSellable"/>
        <result column="is_only_home_mm_sellable" property="isOnlyHomeMmSellable"/>
        <result column="studio_stays_property_type" property="studioStaysPropertyType" />
        <result column="authorized_imei" property="authorizedImei" />
        <result column="partner_description" property="partnerDescription" />
        <result column="one_liner" property="oneLiner" />
        <result column="smart_pta_done" property="smartPtaDone" />
        <result column="no_mm_sellable" property="noMmSellable" />
        <result column="is_live_at_google" property="isLiveAtGoogle" />
        <result column="short_address" property="shortAddress"/>
        <result column="use_oyo_name" property="useOyoName"/>
        <result column="display_category" property="displayCategory"/>
        <result column="sap_sync" property="sapSync"/>
        <result column="alcott_sap_sync" property="alcottSapSync"/>
        <result column="on_boarding_details" property="onBoardingDetails"/>
        <result column="unique_code" property="uniqueCode"/>
        <result column="atlas_id" property="atlasId"/>
        <result column="hawk_eye_hotel_id" property="hawkEyeHotelId" />
        <result column="hawk_eye_url" property="hawkEyeUrl" />
        <result column="rs_slabs" property="oyoShare"/>
    </resultMap>


    <select id="queryHotelList" resultMap="BaseResultMap" parameterType="com.oyo.accouting.bean.HotelDto">

        select h.*,b.* from hotels h left join (
        select hr.* from hotel_restrictions hr where
        hr.restriction_id = 29 and hr.from_time >=DATE_TRUNC('month', current_date :: DATE)
        and hr.to_time &lt; DATE_TRUNC('month', current_date :: DATE) + INTERVAL '1 month'

        ) b on h.id = b.hotel_id where 1=1

        <if test="searchHotel.id != null">
            and h.id = #{searchHotel.id}
        </if>
        <if test="searchHotel.country">
            and h.country = #{searchHotel.country}
        </if>
    </select>
    
    <!-- 获取酒店id和name -->
    <select id="queryHotelNameList" resultMap="BaseResultMap" parameterType="com.oyo.accouting.bean.HotelDto">
        select h.id,h.name from hotels h where 1=1
          <if test="searchHotel.id != null">
              and h.id = #{searchHotel.id}
          </if>
          <if test="searchHotel.country">
              and h.country = #{searchHotel.country}
          </if>
    </select>
</mapper>