<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.accounting.AccountingOyoShareMapper">

    <resultMap id="BaseResultMap" type="com.oyo.accouting.bean.OyoShareDto" >
        <id column="id" property="id" />
        <result column="hotel_id" property="hotelId" />
        <result column="status" property="status"/>
        <result column="unique_code" property="uniqueCode"/>
        <result column="oyo_id" property="oyoId"/>
        <result column="hotel_name" property="hotelName"/>
        <result column="city" property="city"/>
        <result column="zone_name" property="zoneName"/>
        <result column="fixed_rate" property="fixedRate"/>
        <result column="oyo_share" property="oyoShare" />
        <result column="is_test"  property="isTest"/>
        <result column="batch" property="batch"/>
    </resultMap>

    <select id="queryOyoShareList" resultMap="BaseResultMap" parameterType="com.oyo.accouting.bean.OyoShareDto">

        SELECT * FROM oyo_share where 1 = 1
        <if test="oyoShare.hotelId != null and oyoShare.hotelId != ''">
            and hotel_id = #{oyoShare.hotelId}
        </if>
        <if test="oyoShare.oyoId != null and oyoShare.oyoId != ''">
        and oyo_id = #{oyoShare.oyoId}
        </if>
        <if test="oyoShare.hotelName != null and oyoShare.hotelName != ''">
            and hotel_name = #{oyoShare.hotelName}
        </if>
        <if test="oyoShare.status != null and oyoShare.status != ''">
            and status = #{oyoShare.status}
        </if>
        <if test="oyoShare.isTest !=null and oyoShare.isTest !=''">
            and is_test =#{oyoShare.isTest}
        </if>
        <if test="oyoShare.batch != null and oyoShare.batch != ''">
            and batch = #{oyoShare.batch}
        </if>
        <if test="oyoShare.city != null and oyoShare.city != ''">
            and city = #{oyoShare.city}
        </if>
    </select>

    <select id="queryBatchData" resultType="com.oyo.accouting.bean.OyoShareDto" parameterType="com.oyo.accouting.bean.OyoShareDto">

        SELECT batch FROM oyo_share group by batch
    </select>

    <!-- 批量插入 -->
    <insert id ="insertOyoShareList" parameterType="java.util.List" >
        insert into oyo_share
        (
          hotel_id,oyo_share,status,unique_code,oyo_id,hotel_name,city,zone_name,fixed_rate,is_test,batch,testing
         )
        values
        <foreach collection ="oyoShareList" item="oyoShare" index= "index" separator =",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <choose>
                    <when test="oyoShare.hotelId != null">
                        #{oyoShare.hotelId},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.oyoShare != null">
                        #{oyoShare.oyoShare},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.status != null">
                        #{oyoShare.status},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.uniqueCode != null">
                        #{oyoShare.uniqueCode},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.oyoId != null">
                        #{oyoShare.oyoId},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.hotelName != null">
                        #{oyoShare.hotelName},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.city != null">
                        #{oyoShare.city},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.zoneName != null">
                        #{oyoShare.zoneName},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.fixedRate != null">
                        #{oyoShare.fixedRate},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.isTest != null">
                        #{oyoShare.isTest},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.batch != null">
                        #{oyoShare.batch},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
                <choose>
                    <when test="oyoShare.testing != null">
                        #{oyoShare.testing},
                    </when>
                    <otherwise>
                        '',
                    </otherwise>
                </choose>
            </trim>
        </foreach >
    </insert >
	
</mapper>