<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.accounting.AccountingSyncLogMapper">

    <resultMap id="BaseResultMap" type="com.oyo.accouting.bean.SyncLogDto" >
        <id column="id" property="id" />
        <result column="source_id" property="sourceId" />
        <result column="type" property="type" />
        <result column="version" property="version" />
        <result column="source_update_time" property="sourceUpdateTime" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status"/>
        <result column="json_data" property="jsonData"/>
        <result column="batch" property="batch"/>
        <result column="message" property="message"/>
    </resultMap>

    <select id="querySyncList" resultMap="BaseResultMap" parameterType="com.oyo.accouting.bean.SyncLogDto">

        SELECT * FROM sync_log sl where 1=1
         <if test="syncLog.sourceId != null">
             and sl.source_id =#{syncLog.sourceId}
         </if>
        <if test="syncLog.type != null and syncLog.type != ''">
            and sl.type =#{syncLog.type}
        </if>
        <if test="syncLog.status != null">
            <if test="syncLog.status == 0">
                and sl.status =#{syncLog.status}
            </if>
            <if test="syncLog.status != 0">
                and sl.status != 0
            </if>
        </if>
        <if test="syncLog.batch != null and syncLog.batch != ''">
            and sl.batch =#{syncLog.batch}
        </if>
        order by sl.id desc
    </select>
	
</mapper>