<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oyo.accouting.mapper.accounting.AccountingSyncHotelMapper">

    <resultMap id="BaseResultMap" type="com.oyo.accouting.pojo.SyncHotel" >
        <id column="id" property="id" />
        <result column="cardcode" property="cardcode" />
        <result column="cardname" property="cardname"/>
        <result column="valid" property="valid"/>
        <result column="cntct_prsn" property="cntctPrsn"/>
        <result column="lic_trad_num" property="licTradNum"/>
        <result column="u_crsid" property="uCrsid"/>
        <result column="card_type" property="cardType"/>
        <result column="deb_pay_acct" property="debPayAcct"/>
        <result column="contacts" property="contacts"/>
        <result column="address" property="address"/>
        <result column="batch" property="batch"/>
        <result column="start_date" property="startDate"/>
        <result column="update_remark" property="updateRemark"/>
    </resultMap>

    <select id="querySyncHotelList" resultMap="BaseResultMap" parameterType="com.oyo.accouting.pojo.SyncHotel">

        SELECT * FROM sync_hotel where 1 = 1
        <if test="syncHotel.cardcode != null and syncHotel.cardcode != ''">
            and cardcode = #{syncHotel.cardcode}
        </if>
        <if test="syncHotel.cardname != null and syncHotel.cardname != ''">
            and cardname like #{syncHotel.cardname}
        </if>
        <if test="syncHotel.uCrsid != null and syncHotel.uCrsid != ''">
            and u_crsid = #{syncHotel.uCrsid}
        </if>
        <if test="syncHotel.batch != null and syncHotel.batch != ''">
            and batch = #{syncHotel.batch}
        </if>
    </select>
	
</mapper>